*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{

    background-color: aquamarine;
    padding: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}